In [3]:
import numpy as np
a = [1,2,3]
b = [4,5,6]
hasil = a + b
print (hasil)
def add (list_a,list_b):
    result = []
    for first, second in zip (list_a,list_b):
      result.append(first+second)
    return result
print (add(a,b))

[1, 2, 3, 4, 5, 6]
[5, 7, 9]

In [4]:
import numpy as np
nilai_siswa = np.array([85,55,40,90])
print (nilai_siswa[2])

40

In [5]:
def pertama(listku):
  return listku[0]
pertama([1,2,3])
pertama([1,2,3,4,5,6,7,8,9])

1

In [6]:
print(np.__version__)

1.23.5

In [7]:
print("Hello, World!")
print("Nama saya(willy)")
print("NIM saya(2022071024)")

Hello, World!
Nama saya(willy)
NIM saya(2022071024)

In [8]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [9]:
x= 4
x= "Sally"
print(x)

Sally

In [10]:
def first(listku):
  return listku[0]
first([1,2,3])
first([1,2,3,4,5,6,7,8,9])

1

In [11]:
def second(listku):
    return listku[1]
second([3,2,6,4,11])

2

In [12]:
def Last(listku):
  return listku[len(listku)-1]
Last([3,4,7,9])

9

In [13]:
def jumtotal(listku):
  sum=0
  for item in listku:
    sum = sum+item
  return sum

jumtotal ([1,2,3,4,])

10

In [14]:
def kaltol(listku):
  sum=1
  for item in listku:
    sum = sum*item
  return sum

kaltol ([1,2,3,4])

24

In [15]:
def kaltol(listku):
  sum= 1
  for row in listku:
    for item in row:
      sum= sum*item
  return sum
kaltol([[1,2,5],[3,4,7]])

840

In [16]:
def kaltol(listku):
  sum= 1
  for row in listku:
    for item in row:
      sum= sum*item
  return sum
kaltol([[1,2,5],[3,4,7]])

840

In [18]:
def bagtol(listku):
  sum = 1
  for row in listku:
    for item in row:
      sum = sum/item
  return sum
bagtol([[1,2,5],[3,4,7]])

0.0011904761904761904

In [19]:
class SetCalculator:
    def __init__(self, set1, set2):
        self.set1 = set(set1)
        self.set2 = set(set2)

    def subtract(self):
        return self.set1 - self.set2

    def getSum(self, set_to_sum=None):
        if set_to_sum is None:
            set_to_sum = self.set1
        return sum(set_to_sum)

# Contoh penggunaan:
set1 = [1, 2, 3, 4, 5]
set2 = [3, 4, 5, 6, 7]

calculator = SetCalculator(set1, set2)

result_set = calculator.subtract()
print("Hasil pengurangan:", result_set)

sum_set1 = calculator.getSum(set1)
sum_set2 = calculator.getSum(set2)
print("Jumlah set1:", sum_set1)
print("Jumlah set2:", sum_set2)

Hasil pengurangan: {1, 2}
Jumlah set1: 15
Jumlah set2: 25